
@import 'mixin.scss';

header{
    @include header;
}
header+img {
    width: 100%;
    object-fit: cover;
    height: 240px;
    object-position: 0 80%;
}

   body{
       animation:transition 1s 4s linear forwards;
   } 
   
   
main{
    position: relative;
    top: -35px;
    border-radius: 25px;
    background-color: rgb(235, 230, 230);
    margin-top: -25px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    font-size: 28px;
    margin: 0;
}
.coeurs{
    @include coeurs;
    display: -webkit-box;
    -webkit-box-align: center;
    .fas{
        @include coeur_solid;
        .far{
            @include coeur_regular;
        }
    }
}

h2{
    color: grey;
    border-bottom: 2px solid #99E2D0 ;
    width: 40px;
}
main div{
    width: 100%;
}
.carte{
    width:97%;
    background: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 1px rgba(161,143,143,0.75);
-webkit-box-shadow: 5px 5px 5px 1px rgba(161,143,143,0.75);
-moz-box-shadow: 5px 5px  5px 1px rgba(161,143,143,0.75);
}
.entrees{
    animation: presentation 0.8s linear forwards;
    @include text_overflow;
}
.plats{
   @include text_overflow;
    animation: presentation 0.8s 0.8s  linear forwards;
}
.desserts{
    animation: presentation 0.8s 1.5s linear forwards;
    @include text_overflow;
}


@keyframes presentation {
    from{transform:translateY(-10px);
    }
    to{
        transform: translateY(0);
    }
}

.entree,.plat,.dessert{
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.prix{
    
    width: 30px;
    height: 35px;
    padding-top: 24px;
}

.check{
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    opacity: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.check i{
    align-items: center;
    color: white;
    font-size: 25px;
    
}

.carte:hover{
    .check{
        animation: slide 0.5s linear forwards;
       
    }
    .check>i{
        animation: rotation 0.5s linear forwards;
    }
}

@keyframes slide {
    0%{margin-right: 0px;
        opacity: 0;
       
    }
    100%{
      
       width: 180px;
       opacity: 1;
    }
}
@keyframes rotation {
    0%{
       transform:rotate(-180deg);
    }
    100%{
        transform: rotate(0);
    }
}


span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
  
    
}
p{
    justify-content: space-between;
    margin: 0px;
    font-size: 14px;
    margin-left: 10px;
    white-space:nowrap;
   overflow: hidden;
    text-overflow: ellipsis;
}

b{
    color: black;
}

#commander{
    height: 50px;
    margin-bottom: 40px;
    align-self: center;
    @include bouton_commander;
    &:hover{
        @include bouton_hover;
    }
}


footer{
    
    @include footer_mobile;
}

@media screen and (min-width:768px)and (max-width:1024px){
    body{
       @include body_tab_desk;
    }
    
                footer{
                    @include footer_tablette_desk;
                }
            
            }
 @media screen and (min-width:1024px){
     body{
     @include body_tab_desk;
     }
                
    header img{
        height: 100px;
    }         
            header+img{
                        width: 100%;
                object-fit: cover;
                object-position: 0% 80%;
                height: 400px;
            }
            

             h1{
                font-size: 35px;
                width: 94%;
             }
            h1 i{
                font-size: 30px;
            }
            main div{
                margin-bottom: 25px;
            }
            .check{
                margin: 0;
            }
            b{
                font-size: 25px;
            }
            span{
                font-size: 25px;
            }
            p{
                font-size: 20px;
                padding: 5px 0; 
            }
            #commander{
                width: 300px;
                height: 60px;
                @include bouton_hover;
            }
            footer{
                @include footer_tablette_desk;
             a{
                font-size: 22px;
            }
        }
            }