/* coeurs + animation*/
@-webkit-keyframes remplissage {
  to {
    opacity: 1;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes remplissage {
  to {
    opacity: 1;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

/* */
/* Footer */
footer div {
  color: #e4dcdc;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

footer div i {
  opacity: 1;
  color: white;
}

footer div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e4dcdc;
  margin: 0;
  margin-left: 5px;
  text-decoration: none;
}

/*page accueil*/
/*@media (max-width:700px) */
#loading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 6;
  opacity: 0.9;
  position: fixed;
  -webkit-animation: loading 3s 0s linear forwards;
          animation: loading 3s 0s linear forwards;
}

#loading i {
  z-index: 3;
  font-size: 120px;
  color: #99E2D0;
  -webkit-animation: spinner 2.2s 0s linear forwards;
          animation: spinner 2.2s 0s linear forwards;
}

@-webkit-keyframes loading {
  100% {
    visibility: hidden;
  }
}

@keyframes loading {
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spinner {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#logo_header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo_header img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

#header_accueil {
  background-color: #dbd3d3;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  color: black;
  height: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c4bdbd;
  padding-top: 5px;
  width: 100%;
}

.location .location i {
  padding: 0 10px;
}

.slogan {
  width: 80%;
  text-align: center;
  margin: 10px 25px;
}

.slogan + p {
  margin: 10px 15px;
  width: 90%;
  text-align: center;
  font: 28px;
  color: #b8b3b3;
}

h2 {
  color: black;
  margin: 5px 20px;
  padding-top: 30px;
}

#decouverte {
  height: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 1px solid #9356DC;
  width: 200px;
  margin-top: 30px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  cursor: pointer;
}

#decouverte:hover {
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 20px;
}

.bouton {
  width: 97%;
  height: 40px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: #ded9e3;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bouton:hover {
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bouton span {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -4px;
}

.bouton div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bouton p {
  color: black;
  text-align: center;
}

.bouton div i {
  color: gray;
  margin-right: 10px;
}

.bouton div i .bouton .fa:nth-child(3) {
  color: #9356DC;
}

/* carte*/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #f0ebeb;
  padding-bottom: 60px;
}

.restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 20px;
  background-color: white;
  width: 95%;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
}

.restau a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: black;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.restau img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-position: 0% 60%;
     object-position: 0% 60%;
}

b {
  position: absolute;
  background-color: #99E2D0;
  color: #098b6b;
  font-weight: bold;
  width: 60px;
  height: 20px;
  top: 20px;
  right: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 10px 10px;
}

.description strong {
  color: black;
}

.description p {
  color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

.coeurs p {
  font-size: 15px;
}

.coeurs {
  width: 80%;
  font-size: 22px;
}

.coeurs .fas {
  margin-left: -22px;
  position: absolute;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.coeurs .fas:hover {
  -webkit-animation: remplissage 1s linear forwards;
          animation: remplissage 1s linear forwards;
}

.coeurs .fas .far {
  opacity: 1;
  font-size: 20px;
}

.coeurs .fas .far:hover {
  opacity: 0;
}

footer {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
  margin-left: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 130px;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  h1 + p {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .boutons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bouton {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    background-color: #ded9e3;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
  }
  /* h2{
        padding: 20px 0;
        text-align: center;
    }*/
  .restaurants {
    width: 80%;
    margin-left: 80px;
  }
  .restaurants img {
    padding: 0 0;
    height: 240px;
    width: 100%;
    -o-object-position: 20% 60%;
       object-position: 20% 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 10px;
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 50px;
    margin: 0;
  }
  body > img {
    height: 80px;
  }
  .location {
    font-size: 20px;
  }
  #decouverte {
    margin-top: 40px;
    width: 300px;
  }
  h2 {
    font-size: 30px;
  }
  .boutons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
  }
  .bouton {
    margin: 10px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    width: 80%;
    height: auto;
  }
  img {
    height: 350px;
    -o-object-position: 0% 65%;
       object-position: 0% 65%;
  }
  span {
    font-size: 24px;
  }
  span + p {
    font-size: 24px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/*page menu*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
}

header + img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
  -o-object-position: 0 80%;
     object-position: 0 80%;
}

body {
  -webkit-animation: transition 1s 4s linear forwards;
          animation: transition 1s 4s linear forwards;
}

main {
  position: relative;
  top: -35px;
  border-radius: 25px;
  background-color: #ebe6e6;
  margin-top: -25px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titre_restau {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 90%;
  padding: 0 20px;
  font-size: 28px;
  margin: 0;
}

.coeurs {
  font-size: 22px;
  display: -webkit-box;
  -webkit-box-align: center;
}

.coeurs .fas {
  margin-left: -22px;
  position: absolute;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.coeurs .fas:hover {
  -webkit-animation: remplissage 1s linear forwards;
          animation: remplissage 1s linear forwards;
}

.coeurs .fas .far {
  opacity: 1;
  font-size: 20px;
}

.coeurs .fas .far:hover {
  opacity: 0;
}

.categorie_menu {
  color: grey;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}

.carte {
  width: 97%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
}

.entrees {
  -webkit-animation: presentation 0.8s linear forwards;
          animation: presentation 0.8s linear forwards;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plats {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-animation: presentation 0.8s 0.8s  linear forwards;
          animation: presentation 0.8s 0.8s  linear forwards;
}

.desserts {
  -webkit-animation: presentation 0.8s 1.5s linear forwards;
          animation: presentation 0.8s 1.5s linear forwards;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@-webkit-keyframes presentation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes presentation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.entree, .plat, .dessert {
  width: 250px;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prix {
  width: 80px;
  direction: rtl;
  height: 35px;
  padding-top: 27px;
}

.prix p {
  overflow: visible;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  opacity: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.check i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 25px;
}

.carte:hover .check {
  -webkit-animation: slide 0.5s linear forwards;
          animation: slide 0.5s linear forwards;
}

.carte:hover .check > i {
  -webkit-animation: rotation 0.5s linear forwards;
          animation: rotation 0.5s linear forwards;
}

@-webkit-keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.carte p {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b {
  color: black;
}

#commander {
  height: 50px;
  margin-bottom: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 1px solid #9356DC;
  width: 200px;
  margin-top: 30px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

#commander:hover {
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
  margin-left: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 130px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0 50px;
    margin-left: 10px;
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 130px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 10px;
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 50px;
  }
  header img {
    height: 100px;
  }
  header + img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 80%;
       object-position: 0% 80%;
    height: 400px;
  }
  h1 {
    font-size: 35px;
    width: 94%;
  }
  h1 i {
    font-size: 30px;
  }
  main div {
    margin-bottom: 25px;
  }
  .check {
    margin: 0;
  }
  b {
    font-size: 25px;
  }
  span {
    font-size: 25px;
  }
  p {
    font-size: 20px;
    padding: 5px 0;
  }
  #commander {
    width: 300px;
    height: 60px;
    -webkit-filter: sepia(40%);
            filter: sepia(40%);
    box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer a {
    text-decoration: none;
    font-size: 22px;
  }
}
/*# sourceMappingURL=restau.css.map */