
@import 'mixin.scss';

/*page accueil*/
/*format mobile*/
#loading{
    justify-content: center;
    display: grid;
    align-content: center;
    top: 0;
     bottom:0;
     left:0;
     right: 0;
    background-color: #ffffff;
    z-index: 6;
    opacity: 0.9;
    position: fixed;
 animation: loading 3s 0s linear forwards; 
i{    
     z-index: 3;
    font-size: 120px;
    color: #99E2D0;
    animation: spinner 2.2s 0s linear forwards; 
} 
}

@keyframes loading {
   
    100%{
      visibility: hidden;
         
     }
}
@keyframes spinner {

   100%{
        transform: rotate(360deg);
    }
}
#logo_header {
    justify-content: center;
    display: flex;
    img{
    height: 50px;
    object-fit: contain;
    object-position: bottom;
}
}
    #header_accueil{
        background-color: rgb(219, 211, 211);
        height: 320px;
        @include colonne-centre;
        align-items: center;
    }
  
    
    .location{
        color:black;
        height: 30px;
        text-align: center;
        align-items: center;
        background-color: rgb(196, 189, 189);
        padding-top: 5px;
        width: 100%;
    .location i{
        padding: 0 10px;
    }
    }
    .slogan{
        width: 80%;
        text-align: center;
        margin: 10px 25px;
    }
    .slogan+p{
        margin: 10px 15px;
        width: 90%;
        text-align: center;
        font:28px;
        color: rgb(184, 179, 179);
    }

    h2{ 
        color:black;
        margin: 5px 20px;
        padding-top: 30px;
    }
   
    #decouverte{
        height: 50px;
        @include bouton_colore;
        @include box_shadow;
        cursor: pointer;
    &:hover{
        @include bouton_hover;
        }
    }
    
    .boutons{ 
        @include colonne_centre;
       @include boutons;
    }
    
    .bouton{
        width: 97%;
        height: 40px;
        @include box_shadow;
      @include boutons_bouton_mobile;
      &:hover{
        @include bouton_hover; 
     }
    }
    .bouton span {
        width: 20px;
        display: flex;
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        align-items: center;
        justify-content: center;
        margin-left: -4px;
     }
     .bouton div{ 
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
     }

    
    .bouton  p{
        color: black;
        text-align: center;
    }
    .bouton div i{
        color:gray;
        margin-right: 10px;
    }
    .bouton i:nth-child(3){
        color: #9356DC;
    
}
 /* carte*/  
    .restaurants{
        @include colonne-centre;
        width: 100%;
        background-color: rgb(240, 235, 235);  
        padding-bottom: 60px;
        padding-top: 20px;
    }
    .restau{
        @include colonne-start;
        position: relative;
        border-radius: 20px;
        background-color: white;
        width: 95%;
        margin: 10px 0;
        border-radius: 20px;
        @include box_shadow;
    }
     .restau a{
       
        width: 100%;
        text-decoration: none;
        color: black;
     align-items: flex-start;
    
}
    .restau img{
        object-fit: cover;
        height: 140px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-position: 0% 50%;
    }
    b{
        position: absolute;
        background-color: #99E2D0;
        color:#098b6b ;
        font-weight: bold;
        top: 20px;
        right: 10px;
    }


    .description{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 10px 10px;  
       
        strong{
            color: black;
        
    .description p{
       margin:0;
        padding: 0 ;
    }
}
}
   .coeurs_accueil{

       @include coeurs_accueil;
       margin-right: 40px;
       .fas{
           @include coeur_solid;
           margin-left: -22px;
           .far{
               @include coeur_regular;
           }
       }
   }
        
       footer{
           @include footer_mobile;

           img{

           @include footer_img;
       }
    }

    /*page menu*/
header{
    @include header_menu;
}
header+img {
   @include header_menu_img;
}

   body{
       animation:transition 1s 4s linear forwards;
   } 
   
   
main{
    position: relative;
    top: -35px;
    border-radius: 25px;
    background-color: rgb(235, 230, 230);
    margin-top: -25px;
    padding: 10px 5px;
    @include colonne-centre;
}

.titre_restau{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    p{
        font-size: 25px;
        margin: 0;
    }
}
    .coeurs_menu{
    @include coeurs_menu;

    .fas{
        @include coeur_solid;
        margin-left: -22px;
        .far{
            @include coeur_regular;
        }
    }


}

 .categorie_menu{
        color: grey;
        border-bottom: 2px solid #99E2D0 ;
        width: 40px;
}
.entrees,.plats,.desserts{
    @include colonne-start;
    @include text_overflow;
    width: 97%;
}
.carte{
    width:97%;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    @include box_shadow;
}
.entrees{
    animation: presentation 0.8s linear forwards;
   
}
.plats{
  
    animation: presentation 0.8s 0.8s  linear forwards;
}
.desserts{
    animation: presentation 0.8s 1.5s linear forwards;
}


@keyframes presentation {
    from{transform:translateY(-10px);
    }
    to{
        transform: translateY(0);
    }
}

.entree,.plat,.dessert{
    width: 350px;
    padding: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.prix{
    width: 80px;
    direction: rtl;
    height: 35px;
    padding-top: 27px;
    p{
        font-weight: bold;
        overflow: visible;
    }
}

.check{
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    opacity: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.check i{
    align-items: center;
    color: white;
    font-size: 25px;
    
}

.carte:hover{
    .check{
        animation: slide 0.5s linear forwards;
       
    }
    .check>i{
        animation: rotation 0.5s linear forwards;
    }
}

@keyframes slide {
    0%{margin-right: 0px;
        opacity: 0;
       
    }
    100%{
      
       width: 180px;
       opacity: 1;
    }
}
@keyframes rotation {
    0%{
       transform:rotate(-180deg);
    }
    100%{
        transform: rotate(0);
    }
}


.carte span{
    margin-left: 10px;
    font-weight: bold;
   
    
}
.carte p{
    justify-content: space-between;
    margin: 0px;
    font-size: 13px;
    margin-left: 10px;
    white-space:nowrap;
   overflow: hidden;
    text-overflow: ellipsis;
}

b{
    color: black;
}

#commander{
    height: 50px;
    margin-bottom: 40px;
    align-self: center;
    @include bouton_commander;
    &:hover{
        @include bouton_hover;
    }
}


footer{
   
    @include footer_mobile;
    a{
        @include footer_liens;
         }
}
    footer img{
    @include footer_img;
    }

   footer p{
       margin: 0;
        margin-left: 10px;
       }

       footer div{
        color:rgb(228, 220, 220);
        align-items: baseline;
        display: flex;
        margin-left: 5px;
        i{
            opacity: 1;
            color: white;
        
    
    }

       }

@media screen and (min-width:768px)and (max-width:1024px){

    body{
       @include body_tab_desk;
    }
    .titre_restau{
        width: 85%;
        p{
            font-size: 35px;
        }
    }
          
        
    
    h1+p{
        font-size: 22px;
        margin-bottom: 35px;
    }
    
    .boutons{
        align-items: center;
    }
    .bouton{
        @include boutons_bouton_tab;
    }
    
    h2{
        padding: 20px 0;
        text-align: center;
    }
    .entree,.plat,.dessert{
        width: 350px;
    }
    
    .restaurants img{
        padding: 0 0;
        height: 240px;
        width: 100%;
        object-position: 20% 60%;
        object-fit: cover;
    }
    
    footer{
        @include footer_tablette_desk;
        a{
        @include footer_liens;
    }
}
    
    footer img{
        @include footer_img;
    }
    
    }
              
            
 @media  all and (min-width:1024px) {
     body{
     @include body_tab_desk;
     }
                
    header img{
        height: 100px;
    }         
          
               body >img{
                height: 320px;
            }
            .location{
                font-size: 20px;
            }
            #decouverte{
                margin-top: 40px;
                width: 300px;
            }
            h2{
                font-size: 30px;
                padding-left: 0;
                margin: 0;
               
            }
           
            .boutons{
                align-items: center;
            flex-direction: row;
            padding: 0;
            width: 100%;
            
            }
            .bouton{
                width: 30%;
               @include boutons_bouton_desk;
            }

        
            span{
                font-size: 24px;
            }
            span+p{
                font-size: 24px;
            }
        
    
             h1{
                font-size: 35px;
                width: 94%;
             }
            h1 i{
                font-size: 30px;
            }
           
            .check{
                margin: 0;
            }
            b{
                font-size: 25px;
            }
            .restaurants{
                flex-flow: row wrap;
                justify-content: center; 
                
            }
            .restau {
                margin: 20px 20px;
                width: 45%;
                align-self: center;
            }
            .plats,.desserts{
                @include colonne-start;
            }
            span{
                font-size: 25px;
            
            }
            p{
                font-size: 20px;
                padding: 5px 0; 
             }
             
        
            #commander{
                width: 300px;
                height: 60px;
                @include bouton_hover;
            }
            /* menu*/
            .entrees,.plats,.desserts{
                align-items: center;
                @include colonne-centre;
            }
            .carte{
                margin: 20px 120px;
                width: 70%;
            }
            .entree,.plat,.dessert {
                span{
                    font-size: 22px;
                }
                p{
                    font-size: 22px;
                }
            }

            .prix p{
                font-size: 20px;
            }
            
            footer{
                @include footer_tablette_desk;
            }
              footer a{
                 text-decoration: none;
                font-size: 22px;
            }
        }  
    