/* coeurs + animation*/
@-webkit-keyframes remplissage {
  to {
    opacity: 1;
    transform-origin: bottom;
  }
}
@keyframes remplissage {
  to {
    opacity: 1;
    transform-origin: bottom;
  }
}
/* */
/* Footer */
body {
  font-family: "Roboto", sans-serif;
  -webkit-animation: transition 1.5s 0s linear forwards;
          animation: transition 1.5s 0s linear forwards;
}

.logo_header img {
  font-family: "Shrikhand", cursive;
}

/*page accueil*/
/*format mobile*/
header a {
  padding: 0;
}
header a i {
  margin: 0;
  padding: 0;
}

#loading {
  justify-content: center;
  display: grid;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 6;
  opacity: 0.9;
  position: fixed;
  -webkit-animation: loading 3s 0s linear forwards;
          animation: loading 3s 0s linear forwards;
}
#loading i {
  z-index: 3;
  font-size: 120px;
  color: #99E2D0;
  -webkit-animation: spinner 2.2s 0s linear forwards;
          animation: spinner 2.2s 0s linear forwards;
}

@-webkit-keyframes loading {
  100% {
    visibility: hidden;
  }
}

@keyframes loading {
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
#logo_header {
  justify-content: center;
  display: flex;
}
#logo_header img {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

#header_accueil {
  background-color: #ded9e3;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.location {
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 189, 189);
  padding-top: 5px;
  width: 100%;
}
.location i {
  font-size: 18px;
}

.slogan {
  text-align: center;
  margin: 10px 25px;
}

.slogan + p {
  margin: 10px 15px;
  width: 90%;
  text-align: center;
  font-size: 21px;
  color: rgb(90, 87, 87);
}

h2 {
  color: black;
  margin: 20px 10px;
}

#decouverte {
  height: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 1px solid #9356DC;
  width: 200px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 10px 0;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  cursor: pointer;
}
#decouverte:hover {
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  transform: scale(1.05);
  lighting-color: #FF79DA;
  filter: contrast(1.6);
}

.boutons {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 20px;
}

.bouton {
  width: 97%;
  height: 40px;
  height: 50px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  align-items: center;
  display: flex;
  padding: 0;
  background-color: #ded9e3;
  margin-bottom: 20px;
  border-radius: 20px;
}
.bouton:hover {
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  transform: scale(1.05);
  lighting-color: #FF79DA;
  filter: contrast(1.6);
}

.bouton span {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
}

.bouton div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bouton_1 {
  margin-left: 5px;
}

.bouton p {
  color: black;
  text-align: center;
}

.bouton div i {
  color: gray;
  margin-right: 10px;
  opacity: 1;
  position: relative;
}

.bouton .fa-solid {
  background-image: #9356DC;
  -webkit-background-clip: text;
          background-clip: text;
  color: #9356DC;
}

/* carte*/
header i {
  font-size: 25px;
  padding: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(240, 235, 235);
  padding-bottom: 60px;
  padding-top: 20px;
}

.restau {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 20px;
  background-color: white;
  width: 95%;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
}

.restau a {
  width: 100%;
  text-decoration: none;
  color: black;
  align-items: flex-start;
}

.restau img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 140px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

.restau span {
  position: absolute;
  background-color: #99E2D0;
  color: #098b6b;
  font-weight: bold;
  top: 20px;
  right: 10px;
  padding: 4px 5px;
}

.description_coeurs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 60px;
  padding: 10px 10px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px;
}
.description strong {
  color: black;
}
.description strong .description p {
  padding: 0px 10px;
  margin: 0;
}

.coeurs {
  font-size: 22px;
  display: flex;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  font-size: 22px;
}
.coeurs .coeurs.fas {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.coeurs .coeurs.fas:hover {
  -webkit-animation: remplissage 1s linear forwards;
          animation: remplissage 1s linear forwards;
}
.coeurs .coeurs.fas .far {
  opacity: 1;
}
.coeurs .coeurs.fas .far:hover {
  opacity: 0;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0;
}
footer img {
  filter: invert(1);
  width: 130px;
  margin: 10px 20px;
}

/*page menu*/
header {
  display: flex;
}
header img {
  flex: 1;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
}

header + img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
  -o-object-position: 0 80%;
     object-position: 0 80%;
}

main {
  position: relative;
  top: -35px;
  border-radius: 25px;
  background-color: rgb(235, 230, 230);
  margin-top: -25px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre_restau {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0;
}
.titre_restau p {
  font-size: 25px;
  margin: 0;
}

.coeurs > .fas {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.coeurs > .fas:hover {
  -webkit-animation: remplissage 1s linear forwards;
          animation: remplissage 1s linear forwards;
}
.coeurs > .fas .coeurs.far {
  opacity: 1;
}
.coeurs > .fas .coeurs.far:hover {
  opacity: 0;
}

h2, h3, h4 {
  font-size: 25px;
}

.categorie_menu {
  color: grey;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding: 0;
  margin: 20px;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 97%;
}

.carte {
  width: 97%;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
}

.entrees {
  -webkit-animation: presentation 0.8s linear forwards;
          animation: presentation 0.8s linear forwards;
}

.plats {
  -webkit-animation: presentation 0.8s 0.8s linear forwards;
          animation: presentation 0.8s 0.8s linear forwards;
}

.desserts {
  -webkit-animation: presentation 0.8s 1.5s linear forwards;
          animation: presentation 0.8s 1.5s linear forwards;
}

@-webkit-keyframes presentation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes presentation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
.entree, .plat, .dessert {
  width: 380px;
  padding: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prix {
  width: 80px;
  direction: rtl;
  height: 35px;
  padding-top: 27px;
  margin-right: 15px;
}
.prix p {
  font-weight: bold;
  overflow: visible;
}

.check {
  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  opacity: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.check i {
  align-items: center;
  color: white;
  font-size: 25px;
}

.carte:hover .check {
  -webkit-animation: slide 0.5s linear forwards;
          animation: slide 0.5s linear forwards;
}
.carte:hover .check > i {
  -webkit-animation: rotation 0.5s linear forwards;
          animation: rotation 0.5s linear forwards;
}

@-webkit-keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
.carte span {
  margin-left: 10px;
  font-weight: bold;
}

.carte p {
  justify-content: space-between;
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b {
  color: black;
}

#commander {
  height: 50px;
  margin-bottom: 40px;
  align-self: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 1px solid #9356DC;
  width: 200px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 10px 0;
}
#commander:hover {
  box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
  transform: scale(1.05);
  lighting-color: #FF79DA;
  filter: contrast(1.6);
}

footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0;
}
footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 5px;
}

footer img {
  filter: invert(1);
  width: 130px;
  margin: 10px 20px;
}

footer p {
  margin: 0;
  margin-left: 10px;
}

footer div {
  color: rgb(228, 220, 220);
  align-items: baseline;
  display: flex;
  margin-left: 5px;
}
footer div i {
  opacity: 1;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0 50px;
  }

  .titre_restau {
    width: 85%;
  }
  .titre_restau p {
    font-size: 35px;
  }

  h1 + p {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .boutons {
    align-items: center;
  }

  .bouton {
    align-items: center;
    display: flex;
    padding: 0;
    background-color: #ded9e3;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
    height: 50px;
  }

  h2 {
    padding: 20px 0;
    text-align: center;
  }

  .entree, .plat, .dessert {
    width: 380px;
  }

  .restaurants img {
    padding: 0 0;
    height: 240px;
    width: 100%;
    -o-object-position: 20% 60%;
       object-position: 20% 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  footer {
    flex-direction: row;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
  }
  footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 5px;
  }

  footer img {
    filter: invert(1);
    width: 130px;
    margin: 10px 20px;
  }
}
@media all and (min-width: 1024px) {
  body {
    margin: 0 50px;
  }

  header img {
    height: 70px;
  }

  header + img {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }

  body > img {
    height: 320px;
  }

  .location {
    font-size: 20px;
  }

  #decouverte {
    margin-top: 40px;
    width: 300px;
  }

  h2 {
    font-size: 30px;
    padding-left: 0;
    margin: 0;
  }

  .boutons {
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .bouton {
    width: 30%;
    margin: 10px 20px;
    justify-content: center;
    font-size: 20px;
    width: 80%;
    height: auto;
  }

  .bouton span {
    font-size: 20px;
    height: 25px;
    width: 25px;
  }

  span + p {
    font-size: 24px;
  }

  h1 {
    font-size: 25px;
    width: 94%;
  }

  h1 i {
    font-size: 30px;
  }

  .check {
    margin: 0;
  }

  b {
    font-size: 25px;
  }

  .restaurants {
    flex-flow: row wrap;
    justify-content: center;
  }

  .restau {
    margin: 20px 20px;
    width: 45%;
    align-self: center;
  }
  .restau img {
    height: 180px;
  }

  .plats, .desserts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    font-size: 25px;
  }

  #commander {
    width: 300px;
    height: 60px;
    box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(161, 143, 143, 0.75);
    transform: scale(1.05);
    lighting-color: #FF79DA;
  }

  /* menu*/
  .entrees, .plats, .desserts {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carte {
    margin: 20px 120px;
    width: 70%;
  }

  .entree span, .plat span, .dessert span {
    font-size: 22px;
  }
  .entree p, .plat p, .dessert p {
    font-size: 22px;
  }

  .prix p {
    font-size: 20px;
  }

  footer {
    flex-direction: row;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
  }

  footer a {
    text-decoration: none;
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */