header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
}

header + img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
}

body {
  -webkit-animation: transition 1s 4s linear forwards;
          animation: transition 1s 4s linear forwards;
}

main {
  position: relative;
  top: -35px;
  border-radius: 25px;
  background-color: #ebe6e6;
  margin-top: -25px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 90%;
  font-size: 28px;
  margin: 0;
}

i {
  font-size: 20px;
}

h2 {
  color: grey;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}

.carte {
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

main div {
  width: 97%;
}

.entree {
  -webkit-animation: presentation 0.8s linear backwards;
          animation: presentation 0.8s linear backwards;
}

.plat {
  -webkit-animation: presentation 0.8s 0.8s  linear backwards;
          animation: presentation 0.8s 0.8s  linear backwards;
}

.dessert {
  -webkit-animation: presentation 0.8s 1.5s linear backwards;
          animation: presentation 0.8s 1.5s linear backwards;
}

@-webkit-keyframes presentation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes presentation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  opacity: 0;
}

.check i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 25px;
}

.carte:hover .check {
  -webkit-animation: slide 0.5s linear forwards;
          animation: slide 0.5s linear forwards;
}

.carte:hover .check > i {
  -webkit-animation: rotation 0.5s linear forwards;
          animation: rotation 0.5s linear forwards;
}

@-webkit-keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

span {
  line-height: 30px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b {
  color: black;
}

#commander {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-weight: bold;
  border: 1px solid #9356DC;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #9356DC), color-stop(95%, #FF79DA));
  background: linear-gradient(0deg, #9356DC 10%, #FF79DA 95%);
}

footer {
  background-color: black;
  color: white;
  padding-left: 10px;
}

h3 {
  margin-left: 10px;
  font-weight: bold;
  padding-top: 10px;
}

footer a {
  color: #e4dcdc;
  margin: 0;
  margin-left: 5px;
  text-decoration: none;
  display: block;
}

footer div {
  color: #e4dcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0 40px;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    width: 70%;
  }
  header img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 50px;
  }
  header + img {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0px 50px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  header img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 80px;
    width: 80%;
  }
  header + img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 80%;
       object-position: 0% 80%;
    height: 400px;
  }
  h1 {
    font-size: 35px;
    width: 94%;
  }
  h1 i {
    font-size: 30px;
  }
  main div {
    margin-bottom: 25px;
  }
  .check {
    margin: 0;
  }
  b {
    font-size: 25px;
  }
  span {
    font-size: 25px;
  }
  p {
    font-size: 20px;
    padding: 5px 0;
  }
  #commander {
    width: 300px;
    height: 60px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer a {
    font-size: 22px;
  }
}
/*# sourceMappingURL=restau.css.map */